<! DOCTYPE html>
<html>
<head>
<title>login</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../resources/css/login.css">
<script type="text/javascript" src="../resources/js/jquery.min.js"></script>
</head>
<body>
	<form action="/login" method="post">
		<input type="text" name="name" placeholder="用户名" required>
		<input type="password" name="password" placeholder="密码" required>
		<input type="submit" value="login">
	</form>
	<p>
		没有账号？ <a href="/register">注册</a>
	</p>
	<p id="inform"></p>
	<script>
		 $("form[method=post]").bind({
			"submit" : function(event) {
				let dataForm = $(this).serialize()
				$.ajax({
					method : "post",
					dataType : "json",
					data : dataForm,
					url : "/login",
					success : function(data) {
						if (data.statCode === "0") {
							window.location.href = "/userPage"
						} else {
							$("#inform").html(data.message)
						}
					}
				})
				event.preventDefault()
			}
		}) 
	</script>
</body>
</html>